::selection{
  background:#333;
  color:#fff;
  text-shadow:none;
}
::-moz-selection{
  background:#333;
  color:#fff;
  text-shadow:none;
}
::-webkit-selection{
  background:#333;
  color:#fff;
  text-shadow:none;
}


.top-fix {
  text-transform: uppercase;
  width: 100%;
  font-size: 0.69em;
  line-height: 2.2;
  font-weight: 400;
}