doctype html.no-js
head
  meta(charset='utf-8')
  |   
  title FireShell by @toddmotto
  |   
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  |   
  meta(name='description', content='')
  |   
  meta(name='viewport', content='width=device-width,initial-scale=1')
  |   
  link(href='//www.google-analytics.com', rel='dns-prefetch')
  |   
  link(href='//ajax.googleapis.com', rel='dns-prefetch')
  |   
  link(href='assets/css/style.css', rel='stylesheet')
  |   
  script(src='assets/js/vendor/modernizr-2.6.2.min.js')
body
  .container
    .top-fix.clear
  |     
  header.header(role='banner')
    .logo
      a(href='/')
        img(src='assets/img/logo.svg', alt='Logo')
    |       
    nav.nav(role='navigation')
    ul
      li
        a(href='/')
  |     
  .main
    aside.side
    |       
    section#content.content
      section.content-band.ss-style-triangles
        .column.text
          h2 Objectively innovate empowered manufactured products
          |             
          p
            | Galaxies a still more glorious dawn awaits shores of the cosmic ocean bits of moving fluff the only home we&apos;ve ever known finite but unbounded colonies astonishment laws of physics a very small stage in a vast cosmic arena brain is the seed of intelligence realm of the galaxies Apollonius of Perga rogue intelligent beings courage of our questions made in the interiors
        |           
        .column
          span.icon.icon-headphones
  |     
  footer.footer(role='contentinfo')
    | stuff
  |     
  |     
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
  |     
  script.
    window.jQuery || document.write('<script src="assets/js/vendor/jquery-1.10.2.min.js"><\\/script>');
  |     
  script(src='assets/js/scripts.min.js')
  |     
  script.
    (function (f, i, r, e, s, h, l) {
    i['GoogleAnalyticsObject'] = s;
    f[s] = f[s] || function () {
    (f[s].q = f[s].q || []).push(arguments)
    }, f[s].l = 1 * new Date();
    h = i.createElement(r),
    l = i.getElementsByTagName(r)[0];
    h.async = 1;
    h.src = e;
    l.parentNode.insertBefore(h, l)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-XXXXXXXX-XX');
    ga('send', 'pageview');
